*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.imgBackground{
    width: 100%;
    height: 100dvh;
    background-image: url("/src/assets/espacoTechBackground.png");
    background-size: cover;
    background-attachment: fixed;
}